main{
    display:grid;
}
nav{
    background-color:rgb(100, 3, 196);
    columns:1;
}
a:link{
    color: white;
}
a{
    color: white;
}
div.cart{
    color:white;
    text-align:right;
}
h3{
    color: white;
}
